p {
        background-color: rgb(116, 66, 200);
}

#test {
        background-color: #7442C8;
}

.text {
        background-color: olivedrab;
        font-size: 34px;
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-weight: 100;
        width: 50%;
        height: 200px;
        border-color: deeppink;
        border-style: solid;
        border-width: 10px;
        border-radius: 20px;
}