.card {
        width: 400px;
        height: 650px;
        background-color: #E7C697;
        border-radius: 60px;
        position: relative;
        top:30px;

}

.photo {
        height: 40%;
        padding: 5px;
}

img:hover {
    background-color: #0080ff;
    border-color: #000000;
    border-width: 5px;
    border-style: solid;
    width: 500px;
    height: 400px;
    # добавляем свойство для плавности:
    transition: 1s;
}

.info{
        height: 40%;
        padding: 10px;
}

img {
        position: relative;
        top: 10px;
        left: 15px;
        border-radius: 20px;
}